*.pyc
*.obj
jptools/__*.txt
jptools/jtusr.dic
jtalk/libopenjtalk/mecab-naist-jdic/_temp/
jtalk/libopenjtalk/mecab-naist-jdic/dic/
jtalk/libopenjtalk/mecab-naist-jdic/nvdajp-custom-dic.csv
jtalk/libopenjtalk/mecab-naist-jdic/nvdajp-eng-dic.csv
jtalk/libopenjtalk/mecab-naist-jdic/nvdajp-tankan-dic.csv
jtalk/libopenjtalk/mecab/src/mecab-dict-index.exe
jtalk/libopenjtalk/mecab/src/mecab.lib
source/synthDrivers/jtalk/dic/DIC_VERSION
source/synthDrivers/jtalk/dic/sys.dic
source/synthDrivers/jtalk/dic/unk.dic
source/synthDrivers/jtalk/libopenjtalk.dll
venv*